* {
	margin:0px;
	padding:0px;
}

body{
	background: white;
	font-family: 'Heebo', sans-serif;	
	font-size: 14px;
	
}

header {
	width:100%;
	max-width:100%;
	margin:auto;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	background:#528fd500;
	margin-top:0px;
	margin-left: 0px;
	width:100%;
	max-width:100%;
	position: absolute;
}

nav> ul> .div-buscar{
	width:300px;
	height: 45px;
	position: relative;

}

.div-buscar > input{
	position: absolute;
	display: inline-block;
	width:0px;
	height:0px;
	font-size: 16;
	border: 0px;
	color: rgb(62, 29, 151);
	outline: none;
	transition: all 0.4s ease;
}

.btn{
	position:absolute;
	display: inline-block;
	top: 0;
	right: 0;
	width:40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

.div-buscar:hover input{
	height: 40px;
	width:290px;
}
.div-buscar> input:focus{
	height: 40px;
	width:290px;
}


nav> ul {
	width: 426px;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;	
}


nav> ul:first-child {
	align-self: flex-start;
	justify-content: flex-start;
	list-style:none;
	padding:0;
	/*margin-left:8%;*/
	overflow:hidden;
}

nav> ul:last-child {
	justify-content: flex-end;
	align-self: center;
	list-style:none;
	padding:0;
	/*margin-right:8%;*/
	overflow:hidden;
}
nav> ul> div> div> i{
	color: rgb(26, 26, 26);
}
.div-buscar:hover i{
	color: rgb(26, 26, 26);
}
nav > ul > li {
	float:left;

}

nav > ul> img{
	margin-top: 12px;
}

nav > ul> img:hover{
	opacity:0.4;
	filter:alpha(opacity=40); 
	transition: all 0.3s ease;
}

nav ul li a {
	text-decoration:none;
	color:rgb(24, 23, 23);
	display:block;
	padding:25px 30px;
}

.tag-men-woman{
	font-size: 15px;
	font-weight: 550;
	color: rgb(248, 248, 248);
}

nav ul li a:hover {
	background: rgba(248, 248, 248, 0.589);
}

nav > ul > li:hover .conten-rojo  {
	
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

}

nav > ul > li:hover .conten-rojo .conten-azul {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0px;
	padding: 0px;

}

/*Submenu*/
nav ul li .conten-rojo {
	position: absolute;
	width:100%;
	left:0;
	background: rgb(248, 248, 248);
	box-sizing:border-box;
	display:none;
}
nav> ul> li >div > div {
	width:1280px;

	background:  rgb(248, 248, 248);
	position: relative;
	/*left: 8%;*/
	display: none;
}

nav> ul >li >div >div >ul{
	/*width:20%;*/
	display: flex;
	float: left;
	border-right:0px solid rgb(248, 248, 248);
	box-sizing:border-box;
}

nav ul li div >div ul:last-child {
	border:none;
}



nav ul li div >div ul .titulo {
	background:#000;
	color:#fff;
	list-style:none;}

nav ul li div >div ul .titulo a {
	color:rgb(46, 45, 45);
	padding:25px 20px;
}

.titulo.gris {background:rgb(248, 248, 248);}


nav ul li div >div ul .titulo a:hover {
	background:none;
}

nav ul li div >div ul .titulo .cust {
	color:#fff;;
	list-style:none;}

nav ul li div >div ul li a {
	color:#000;
	padding: 0px;
	margin: 0px;
}

nav ul li div >div ul li a:hover {
	color:rgb(90, 87, 87);
	text-decoration: underline;
}

/*///////////////////////////*/
/*sub menu 2*/

.caja-principal nav ul li div div ul li .submenu{
	background: rgb(248, 248, 248);
	padding: 0px;
	position: absolute;	
	display: none;
}

.caja-principal >nav >ul >li >div >div >ul >li:hover .submenu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	justify-content: space-between;
	align-items: flex-start;
	padding: 16px;	
	border-bottom: 0.2px solid rgba(211, 209, 209, 0.849);
	border-left:0.2px solid rgba(211, 209, 209, 0.849);
	border-right:0.2px solid rgba(211, 209, 209, 0.849);
}

.caja-principal nav ul li div div ul li .men-Custom{
	background: rgb(0, 0, 0);
	border: none;
}
.caja-principal nav ul li div div ul li .men-Custom ul a{
color:  rgb(248, 248, 248);

}

.men-Custom{ width: 224px; max-width: 225px; min-width: 223px;}
.men-Boardshorts{ width: 234px; max-width: 235px; min-width: 233px;}
.men-Clothing{ width: 288px; max-width: 289px; min-width: 287px;}
.men-Tees{ width: 369px; max-width: 370px; min-width: 368px;}
.men-Accessories{ width: 343px; max-width: 344px; min-width: 342px;}
.men-Wetsuits{ width: 369px; max-width: 370px; min-width: 368px;}
.men-Boys{ width: 386px; max-width: 387px; min-width: 385px; right: 195px;}
.men-Collections{ width: 505px; max-width: 506px; min-width: 504px;right: 80px;}
.men-Sale{ width: 288px; max-width: 289px; min-width: 287px; right: 0px;}
.women-New{ width: 426px; max-width: 427px; min-width: 425px;}
.women-Swim{ width: 369px; max-width: 370px; min-width: 368px;}
.women-Clothing{ width: 349px; max-width: 350px; min-width: 348px;}
.women-Dresses{ width: 343px; max-width: 344px; min-width: 342px;}
.women-Accessories{ width: 343px; max-width: 344px; min-width: 342px;}
.women-Shoes{ width: 254px; max-width: 255px; min-width: 253px;}
.women-Wetsuits{ width: 391px; max-width: 392px; min-width: 390px;}
.women-Collections{ width: 448px; max-width: 449px; min-width: 447px; right: 190px;}
.women-Girls{ width: 313; max-width: 314px; min-width: 312px; right: 80px;}
.women-Sale{ width: 285px; max-width: 286px; min-width: 284px; right: 0px;}

.men-Custom> li> a{
	color: #fff;
}
.caja-principal> nav >ul >li >div >div >ul> li> .submenu  img{
position: relative;
width: 99%;
overflow: hidden;
}

.caja-principal >nav >ul> li >div > div> ul >li> .submenu>  ul{	
	position: relative;	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding:0px 0px;
	margin: 0px;
	justify-content: flex-start;
	align-items: flex-start;
	width: 48%;
}

.caja-principal >nav >ul> li >div >div > ul >li> .submenu>  ul> li{
	position: relative;
	float: left;
	padding:0px 0px;
	margin: 0px;
	list-style:none;
}


.caja-principal nav ul li div div ul li .submenu a{
	color: rgb(31, 30, 30);
	float: left;
	text-decoration:none;
	margin: 0px;
	padding: 12px 0px;	
}
.caja-principal nav ul li div div ul li .submenu a:hover{
	color: rgb(134, 132, 132);
}
/*///////////////////////////*/

/* imagenes del header*/
.caja-principal{
	margin: 0px;
	padding: 45px 0px 0px 0px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;}

.img_header{
	flex: 1;
	margin: 0px;
	padding: 0px;
	min-width: 450px;
	min-height: 700px;
	height: 900px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;}

.img-men{	
background-image: url("../img/men.jpg");
background-size: cover;  
}

.img-women{
	background-image: url("../img/women.jpg");
	background-size: cover;
}

h2{
	color: beige;
	font-size: 44px;
	font-family: 'Heebo', sans-serif;
	font-weight: 580;
	letter-spacing: 0.18em;
}

button{
	font-family: 'Heebo', sans-serif;
	width: 200px;
	height: 50px;
	font-size: 14px;
	font-style:normal;
	font-weight: 900;
	border: none;
	letter-spacing: 0.1em;
	background:rgb(248, 248, 248) ;
	margin: 25px 0px 80px 0px;
}